/*Fonts*/

@font-face
{
    font-family: 'Raleway';
    src: url("fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-style:normal;
}


.max_width_container
{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway';
    max-width: 1300px;
}
/*Header*/
#Titre
{
    display: flex;
    width: 100%;
    padding-top: 40px;
}

#nav, #s_inscrire
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

#s_inscrire
{
    width:100px;
}

#logo
{
    float:left;
}

#nav ul
{
    list-style-type: none;
    display: flex;
}

#nav li
{
    margin-right: 50px;
}

#nav a
{
    text-decoration: none;
    color: black;
}

#nav_hebergements:hover, #nav_activites:hover
{
    color:#0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 30px;
}

#s_inscrire a
{
    text-decoration: none;
    color: #0065FC;
}








/*Champs recherche et filtres*/
#Filtres_sous_header
{
    display:flex;
    flex-direction: column;
}

#Filtres_sous_header ul
{
    width:800px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#filtres
{
    display:flex;
    font-weight:bolder;
}

.icones_filtres
{
    border: 3px solid lightgray;
    height: 20px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding-left: 0;
    border-left: none;
    gap:10px;
    justify-content: space-between;
    margin-right: 20px;
}

#icone_eco, #icone_fam, #icone_rom, #icone_aut
{
    padding: 15px;
    height: 15px;
    width: 15px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 40px;
}

/* hover filtres */
.icones_filtres:hover
{
    border: 3px solid #0065FC;
    border-left: none;
    color: #0065FC;
}

.icones_filtres:hover #icone_eco, .icones_filtres:hover #icone_fam , .icones_filtres:hover #icone_rom, .icones_filtres:hover #icone_aut
{
    background-color: #0065FC;
    color: white;
}


#info
{
    padding-bottom: 20px;
    margin-top: 20px;
    font-weight: normal;/*Ne fonctionne pas ?*/
}

#id_i_info
{
    color:#0065FC;
    size: 1px;
    border: 1px solid lightgray;
    height: 20px;
    width: 15px;
    padding-left: 7px;
    padding-top: 2px;
    border-radius: 20px;
    align-content: center;
}

#div_recherche
{
    padding-bottom:20px;
    padding-top: 20px;
}

#recherche_loupe
    {
        width: 50px;
        display: none;
    }

/* Style the search field */
#icone_search
{
    padding: 10px;
    font-size: 17px;
    float: left;
    width:20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    border-right: none;
    background: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

form.classe_recherche input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #F2F2F2;
    float: left;
    width: 200px;
    font-weight: bolder;
  }
  
  /* Style the submit button */
  form.classe_recherche button {
    float: left;
    width: 150px;
    padding: 10px;
    background:  #0065FC;
    color: white;
    font-size: 17px;
    border: 1px solid #F2F2F2;
    border-left: none; /* Prevent double borders */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  form.example button:hover {
    background:  #0065FC;
  }

/**/



/*Hébergements*/
section
{
    display: flex;
    margin-bottom: 50px;
}

section article
{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   padding-left: 20px;
   padding-right: 50px;
   padding-bottom: 20px;
   margin-right: 30px;
}

#Article_hebergements, aside
{
    border-radius: 30px;
    background-color:#F2F2F2;
}

#Article_photos_hebergements
{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 550px;
    align-content: space-around;
}

article div
{
    width: 28%;
    border:5px white solid;
    border-radius: 10%;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    align-content: space-between;
    font-size: 0.8em;
    line-height: 5px;
    box-shadow: 2px 2px 4px lightgray,-2px -2px 4px lightgray;
    background-color: white;
}

#La_cannebiere img,#Hotel_du_port img,#Hotel_les_mouettes img,#Hotel_de_la_mer img,#Auberge_le_panier img,#Hotel_chez_amina img
{
    width: 100%;
    height: 130px;
    flex-wrap: wrap;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
div h3, div p
{
    padding-left: 20px;
}

article h2
{
    padding-left: 40px;
    padding-top: 20px;
}

#Afficher_plus
{
    padding-left: 40px;
    padding-bottom: 20px;
    text-decoration: none;
    color: black;
}


.etoile_pleine
{
    color:#0065FC;
}

.etoile_vide
{
    color:grey;
}

/*Aside*/
aside h2
{
    display: flex;
    justify-content: space-between;
}

section aside
{
    display: flex;
    height: 700px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 0.8em;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

aside div
{
    border:5px white solid;
    height: 130px;
    background-color: white;
    min-width: 300px;
    border-radius: 8%/20%;
    line-height: 17px;
    box-shadow: 2px 2px 4px lightgray,-2px -2px 4px lightgray;
}

aside div h3, aside div p
{
    padding-left: 160px;
}

#Hotel_le_soleil_du_matin img, #Au_coeur_de_leau_chambre_dhotes img, #Hotel_tout_bleu_et_blanc img
{
    width: 150px;
    height: 130px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    object-fit: cover;
    float:left;
}

#les_plus_populaires
{
    display: flex;
    justify-content:flex-end;
}

/*Activités*/

#Div_titre_activite
{
    padding-top: 10px;
}

#section_activite
{
    display:flex;
    width: 100%;
}

.Grand_div
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#Vieux_port, #Parc_national_des_calanques, #Miniature_colle_vieux_port, #Miniature_colle_parc_calanques
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
}

#Miniature_colle_vieux_port
{
    margin-right: 30px;
}

#Parc_national_des_calanques
{
    margin-left: 30px;
}

/*Taille photos*/
#Vieux_port img, #Parc_national_des_calanques img
{
    height:400px;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#Miniature_colle_vieux_port img, #Miniature_colle_parc_calanques img
{
    height: 150px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#Vieux_port, #Parc_national_des_calanques, #Fort_de_pomegues, #Iles_du_frioul, #Notre_dame_de_la_garde, #Parc_longchamps
{
    box-shadow: 2px 2px 4px lightgray,-2px -2px 4px lightgray;
    border-radius: 20px;
}

#Vieux_port img, #Parc_national_des_calanques img, #Fort_de_pomegues img, #Iles_du_frioul img, #Notre_dame_de_la_garde img, #Parc_longchamps img
{
    object-fit: cover;
}
/*footer*/

footer
{
    background-color:#F2F2F2;
    font-family: 'Raleway';
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#div_footer
{
    display: flex;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    gap:160px;
    flex-wrap: wrap;
}

footer ul
{
    list-style-type: none;
    margin-left:0;
    padding-left:0;
}

footer h3
{
    padding-left:0;
}






/*Media queries*/

@media screen and (min-width: 1300px)
{
    body
    {
        margin-left:auto;
        margin-right:auto;
    }
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 375px et 768px */
@media screen and (min-width: 374px) and (max-width: 1300px)
{
    /*gestion des marges en dessous de 1300px*/
    .max_width_container
    {
        margin-left: 15px;
        margin-right: 15px;
    }

    #div_footer
    {
        margin-left: 15px;
        margin-right: 15px;
    }
    /*filtres*/
    #filtres ul
    {
        flex-wrap: wrap;
    }

    /*hebergement*/
    section
    {
        flex-direction: column;
    }

    section article
    {
        display: flex;
        height : auto;
        width:auto;
        flex-direction: column;
        padding:10px;
        padding-right: 40px;
        margin-right: 0;
        gap:8%;
    }

    #Article_photos_hebergements
    {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }
    
    article div
    {
        flex-wrap: wrap;
        width: 300px;
        margin-top: 50px;
        margin-right: 0;
        padding-bottom: 50px;
    }

    /*aside*/

    section aside
    {
        display: flex;
        height: auto;
        width:auto;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 40px;
        padding-right: 40px;
        gap:7%;
    }

    aside div, aside h2
    {
        width:350px;
        align-content: space-between;
        margin-bottom: 50px;
    }

    aside h2
    {
        padding-left:10px;
    }
    
    /*activités*/

    #section_activite
    {
        width: auto;
        margin-left: 20px;
        flex-wrap: wrap;
        height: auto;
    }

    .Grand_div
    {
        width: auto;
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: space-around;
    }

    #Vieux_port, #Parc_national_des_calanques, #Miniature_colle_vieux_port, #Miniature_colle_parc_calanques
    {
        flex-wrap: wrap;
        min-width: 280px;
    }
    
    #Miniature_colle_vieux_port
    {
        margin-right: 0;
    }
    
    #Parc_national_des_calanques
    {
        margin-left: 0;
    }

}

@media screen and (min-width: 374px) and (max-width: 610px)
{
    #Vieux_port, #Fort_de_pomegues, #Parc_national_des_calanques, #Notre_dame_de_la_garde
    {
        margin-bottom: 20px;
    }

    #recherche_bleue
    {
        display: none;
    }

    #recherche_loupe
    {
        display: initial;
    }


    /* #nav_et_inscription
    {
        flex-wrap: wrap-reverse;
    } */

    /* #Titre
    {
        flex-wrap: wrap;
    } */

}

@media screen and (min-width: 374px) and (max-width: 540px)
{
    #Titre
    {
        /* padding-top: 80px; */
        flex-wrap: wrap;
    } 

     #logo
    {
        height: 100%;
    }

    #nav
    {
        order:3;
        width: 100%;
        padding-top: 40px;
        justify-content: center;
    }

    #nav nav
    {
        width: 100%;
    }

    #nav nav ul
    {
        justify-content: space-evenly ;
    }

    #s_inscrire
    {
        order:2;
        width: 70%;
    } 


}

/* 


Revue de code :

colorPicker eyedropper : extension chrome qui te permet d'avoir la couleur précise d'un élément


done
Max width / margin auto : corriger sur chaque élément ou tu mets une max width (centrer ton bloc)
regler les paddings et margin enlever ceux qui sont internes et essayer de les mettre au plus haut niveau
controller la font weight
info sous filtre : font weight a regler
regler la font family sur footer
Filtres : animaux autorisé sur une ligne
regler la position de l'icone avec le h2
footer : placement en flex start + regler avec un gap
border radius pas en pourcentage mais en px









lien de menu : utilisation hover (changement couleur lien) et pseudo element : before et after pour la barre au dessus des éléments. 
N'oublie pas que ces liens de menu sont des ancres qui ammènent vers les différentes section de ta page



changer flex space between en center (a toi de voir ici : normalement tu peux laisser space between si tu défini une max-width a ton contenu)
revoir justify content et align items : deux propriétés très importantes sur flex
corriger les erreurs de placements relatives à ces deux propriétés


chrome devtools : chercher des tutoriels

*/



/* done
font awesome pour les différents icones de la maquette : https://fontawesome.com/icons?d=gallery / 
tu peux importer font awesome en téléchargeant le fichier css associé ou en passant par un cdn (https://cdnjs.com/)


utiliser object fit : https://developer.mozilla.org/fr/docs/Web/CSS/object-fit sur les images pour qu'elle ne s'étire pas
plus d'espace activité a marseille
mettre margin left sur derniere div (id)
reorganisation header premiere section
modifier le style du lien afficher plus
corriger le bug d'import de la police Raleway 
etoile a changer : remplacer par font awesome

essayé mais ça casse tout :
définir une class "max-width-container" avec les propriétés suivantes :
max-width: 1300px;
margin: auto; → sert à centrer les éléments
*/