/*Fonts*/

@font-face
{
    font-family: 'Raleway';
    src: url("fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight:bold;
    font-style: normal;
}


/*Body*/
body section, body header, #Filtres_sous_header, #Div_titre_activite
{
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Raleway';
}
/*Header*/

#nav_hebergements, #nav_activites
{
    color:black;
}

#Titre
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 50px;
}

#sous_titre
{
    display:flex;
    flex-direction: column;
}

nav li
{
    color:#0065FC;
}

#nav_hebergements:hover, #nav_activites:hover
{
    color:#0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 30px;
}

header nav
{
    width : 35%;
    margin-right: 20px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}

nav li
{
    margin-right: 15px;
    
}

nav a
{
    text-decoration: none;
    color: #0065FC;
}

#Filtres_sous_header ul
{
    width:600px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#info
{
    padding-bottom: 20px;
    font-weight: normal;/*Ne fonctionne pas ?*/
}


/*Hébergements*/
section
{
    display: flex;
    margin-bottom: 50px;
}

section article
{
   display: flex;
   flex-wrap: wrap;
   width:60%;
   flex-direction: column;
   padding-left: 20px;
   padding-right: 50px;
   padding-bottom: 20px;
   margin-right: 30px;
}

#Article_hebergements, aside
{
    border-radius: 5%;
    background-color:#F2F2F2;
}

#Article_photos_hebergements
{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    align-content: space-around;
}

article div
{
    width: 28%;
    border:5px white solid;
    border-radius: 10%;
    flex-direction: row;
    justify-content: space-around;
    line-height: 5px;
    box-shadow: 2px 2px 4px lightgray,-2px -2px 4px lightgray;
    background-color: white;
}

#La_cannebiere img,#Hotel_du_port img,#Hotel_les_mouettes img,#Hotel_de_la_mer img,#Auberge_le_panier img,#Hotel_chez_amina img
{
    width: 100%;
    height: 130px;
    flex-wrap: wrap;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
div h3, div p
{
    padding-left: 20px;
}

article h2
{
    padding-left: 40px;
    padding-top: 20px;
}

#Afficher_plus
{
    padding-left: 40px;
    padding-bottom: 20px;
    text-decoration: none;
    color: black;
}

.etoile_pleine
{
    color:blue;
}

.etoile_vide
{
    color:grey;
}

/*Aside*/
section aside
{
    display: flex;
    width:29%;
    height: 650px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

aside div
{
    border:5px white solid;
    height: 130px;
    background-color: white;
    border-radius: 8%/20%;
    line-height: 17px;
    box-shadow: 2px 2px 4px lightgray,-2px -2px 4px lightgray;
}

aside img
{
    width:20%;
    float:left;
}

#Hotel_le_soleil_du_matin img, #Au_coeur_de_leau_chambre_dhotes img, #Hotel_tout_bleu_et_blanc img
{
    width: 150px;
    height: 130px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}

aside div a
{
    max-width: 30%;
}

aside h3, aside p
{
    max-width: 70%;
    padding-left: 170px;
}

#les_plus_populaires
{
    display: flex;
    justify-content:flex-end;
}

/*Activités*/

#section_activite
{
    display:flex;
    justify-content: space-between;
}

.Grand_div
{
    display: flex;
    width: 680px;
    justify-content: space-between;
}

#Vieux_port, #Parc_national_des_calanques
{
    display: flex;
    flex-direction: column;
}

#Miniature_colle_vieux_port, #Miniature_colle_parc_calanques
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Vieux_port h4, #Parc_national_des_calanques h4, #Fort_de_pomegues h4, #Iles_du_frioul h4, #Notre_dame_de_la_garde h4, #Parc_longchamps h4
{
    margin-left: 20px;
}

/*Taille photos*/
#Vieux_port img, #Parc_national_des_calanques img
{
    height:400px;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#Miniature_colle_vieux_port img, #Miniature_colle_parc_calanques img
{
    height: 150px;
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#Vieux_port, #Parc_national_des_calanques, #Fort_de_pomegues, #Iles_du_frioul, #Notre_dame_de_la_garde, #Parc_longchamps
{
    box-shadow: 2px 2px 4px lightgray,-2px -2px 4px lightgray;
    border-radius: 20px;
}

/*footer*/

footer
{
    background-color:#F2F2F2;
}

#div_footer
{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding-left:30px;
}

footer ul
{
    list-style-type: none;
    padding-left:20px;
}


/* lien de menu : utilisation hover (changement couleur lien) et pseudo element : before et after pour la barre au dessus des éléments. 
N'oublie pas que ces liens de menu sont des ancres qui ammènent vers les différentes section de ta page

font awesome pour les différents icones de la maquette : https://fontawesome.com/icons?d=gallery / 
tu peux importer font awesome en téléchargeant le fichier css associé ou en passant par un cdn (https://cdnjs.com/)

etoile a changer : remplacer par font awesome
utiliser object fit : https://developer.mozilla.org/fr/docs/Web/CSS/object-fit sur les images pour qu'elle ne s'étire pas
définir une class "max-width-container" avec les propriétés suivantes :
max-width: 1300px;
margin: auto; → sert à centrer les éléments
plus d'espace activité a marseille
changer flex space between en center (a toi de voir ici : normalement tu peux laisser space between si tu défini une max-width a ton contenu)
mettre margin left sur derniere div (id)
revoir justify content et align items : deux propriétés très importantes sur flex
corriger les erreurs de placements relatives à ces deux propriétés
caniuse : quand tu ne connais pas une propriété et que tu veux vérifier la compatabilité navigateur
chrome devtools : chercher des tutoriels
utilisation ttf avec format truetype */



/* done
reorganisation header premiere section
modifier le style du lien afficher plus
corriger le bug d'import de la police Raleway 
*/