
body
{
    margin-left: 30px;
}

/*Body*/
/*Hébergements*/
section
{
    display: flex;
    flex-direction: row;
}

section article
{
   display: flex;
   flex-wrap: wrap;
   width:60%;
   flex-direction: column;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
}

#Article_hebergements
{
    border-radius: 5%;
    background-color:#F2F2F2;
}

#Article_photos_hebergements
{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 650px;
    align-content: space-around;
}

article div
{
    width: 28%;
    border:5px white solid;
    border-radius: 10%;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 2px 2px 4px lightgray,-2px -2px 4px lightgray;
}

section aside
{
    flex-direction: column;
    width:25%;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#La_cannebiere img,#Hotel_du_port img,#Hotel_les_mouettes img,#Hotel_de_la_mer img,#Auberge_le_panier img,#Hotel_chez_amina img
{
    width: 100%;
    height: 130px;
    flex-wrap: wrap;
    border-radius: 13% 13% 0 0;
}

/*brouillon*/
aside img
{
    width:20%;
}

/**/

.etoile_pleine
{
    color:blue;
}

.etoile_vide
{
    color:grey;
}

/*Activités*/
/*brouillon*/
#Vieux_port img, #Miniature_colle_vieux_port img, #Parc_national_des_calanques img, #Miniature_colle_parc_calanques img
{
    width: 20%;
}
/**/