


/*Body*/
/*Hébergements*/
section
{
    display: flex;
    flex-direction: row;
}

section article
{
   display: flex;
   flex-wrap: wrap;
   width:66%;
}


article div
{
    width: 30%;
    border:3px black outset;
    background-color: red;
    flex-direction: row;
}

section aside
{
    flex-direction: column;
    width:33%;
}

#La_cannebiere img,#Hotel_du_port img,#Hotel_les_mouettes img,#Hotel_de_la_mer img,#Auberge_le_panier img,#Hotel_chez_amina img
{
    width: 75%;
    height: 130px;
    flex-wrap: wrap;
}

/*brouillon*/
aside img
{
    width:20%;
}

/**/

.etoile_pleine
{
    color:blue;
}

.etoile_vide
{
    color:grey;
}

/*Activités*/
/*brouillon*/
#Vieux_port img, #Miniature_colle_vieux_port img, #Parc_national_des_calanques img, #Miniature_colle_parc_calanques img
{
    width: 20%;
}
/**/