
body
{
    margin-left: 30px;
}

/*Body*/
/*Hébergements*/
section
{
    display: flex;
}

section article
{
   display: flex;
   flex-wrap: wrap;
   width:60%;
   flex-direction: column;
   padding-left: 20px;
   padding-right: 50px;
   padding-bottom: 20px;
}

#Article_hebergements, aside
{
    border-radius: 5%;
    background-color:#F2F2F2;
}

#Article_photos_hebergements
{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    align-content: space-around;
}

article div
{
    width: 28%;
    border:5px white solid;
    border-radius: 10%;
    flex-direction: row;
    justify-content: space-around;
    line-height: 5px;
    box-shadow: 2px 2px 4px lightgray,-2px -2px 4px lightgray;
    background-color: white;
}

#La_cannebiere img,#Hotel_du_port img,#Hotel_les_mouettes img,#Hotel_de_la_mer img,#Auberge_le_panier img,#Hotel_chez_amina img
{
    width: 100%;
    height: 130px;
    flex-wrap: wrap;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
div h3, div p
{
    padding-left: 20px;
}

article h2
{
    padding-left: 40px;
    padding-top: 20px;
}

#Afficher_plus
{
    padding-left: 40px;
    padding-bottom: 20px;
}

.etoile_pleine
{
    color:blue;
}

.etoile_vide
{
    color:grey;
}

/*Aside*/
section aside
{
    flex-direction: column;
    width:29%;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

aside div
{
    border:5px white solid;
    justify-content: space-between;
    border-radius: 10%;
    line-height: 17px;
    box-shadow: 2px 2px 4px lightgray,-2px -2px 4px lightgray;
}

aside img
{
    width:20%;
    float:left;
}

#Hotel_le_soleil_du_matin img, #Au_coeur_de_leau_chambre_dhotes img, #Hotel_tout_bleu_et_blanc img
{
    width: 150px;
    height: 130px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#Hotel_le_soleil_du_matin, #Au_coeur_de_leau_chambre_dhotes, #Hotel_tout_bleu_et_blanc
{
    /*flex-direction:column;*/
    background-color: green;
}

aside div a
{
    max-width: 30%;
}

aside h3, aside p
{
    background-color:red;
    max-width: 70%;
}

/*brouillon*/

/**/

/*Activités*/
/*brouillon*/
#Vieux_port img, #Miniature_colle_vieux_port img, #Parc_national_des_calanques img, #Miniature_colle_parc_calanques img
{
    width: 20%;
}
/**/